#header{
	height: 100px;
	width: 100%;
	font-family: "Helvetica";
	text-align: right;
}

h1{ 
	color: #f6ffdc;
}

#navbar{
	background-color: #2B2B2B;
	height: 55px;
	width: 1280px;
	position:absolute;
	left:0px;
	top: 100px;
	}
#navbar>.button{
	
	background-color: #8B9712;
	color: #FBFFD4;
	width: 145px;
   	height: 48px;
	border: .5px solid white;
	font-size: 22px;
	line-height: 40px;
	text-align: center;
	font-weight: bold;
	margin-right: 1px;
	margin-top: 3px;
	margin-left: 1px;
	margin-bottom: 1px;
	display: inline-block;
}

#navbar>.button:hover{
	background-color: #295A5E;
}
#navbar>.button:active{}

#mainbody{}
#mainbody>.bg{
	background-color: #edebb7;
	width: 850px;
	height: 600px;
	position: absolute;
	left: 0px;
	top: 155px;

	/*height:  100%;*/
}

body{
	background-color: #52513A;
}